<h1>Empleados</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Rut</th>
    <th>Position</th>
    <th>Birthday</th>
    <th>Phone</th>
    <th>Start date</th>
    <th></th>
  </tr>
 
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.rut %></td>
      <td><%= employee.position %></td>
      <td><%= employee.birthday %></td>
      <td><%= employee.phone %></td>
      <td><%= employee.start_date %></td>
      <td><%= link_to 'Show', employee_path(employee) %></td>
      <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    </tr>
  <% end %>
</table>



