<h1 class="my-5">Asistencia</h1>

<table class="table table-bordered">
   <thead> 
    <tr>
      <th>Rut</th>
      <th>Month</th>
      <th>Action</th>
    </tr>
   </thead>
  <% @attendances.each do |attendance| %>
    <tr>
      <td><%= attendance.rut %></td>
      <td><%= attendance.month %></td>
      <td><%= attendance.action %></td>
    </tr>
  <% end %>
</table>

<%= form_tag import_attendances_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import attendance" %>
<% end %>
